body {
  font-family: Georgia, sans-serif;
  background-color: #000000;
  padding: 20px;
  font-size:30px;
  
  
  margin: 0;
  min-height:100vh;
  justify-content: flex-start;
  align-items:flex-start;
}

h1 {
  color: #ff0202;
}
